@page "{id:int}"
@model BookDbEfCoreRazorPagesProject.Pages.Books.EditModel
@{
    ViewData["Title"] = "Edit Book";
}

<h1>Edit</h1>

<form method="post">
    <input type="hidden" asp-for="Book.Id" />
    <div class="form-group">
        <label asp-for="Book.Title" class="control-label"></label>
        <input asp-for="Book.Title" class="form-control" />
        <span asp-validation-for="Book.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Book.Author" class="control-label"></label>
        <input asp-for="Book.Author" class="form-control" />
        <span asp-validation-for="Book.Author" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Book.Price" class="control-label"></label>
        <input asp-for="Book.Price" class="form-control" />
        <span asp-validation-for="Book.Price" class="text-danger"></span>
    </div>
    <div class="form-group mt-3">
        <button type="submit" class="btn btn-primary me-2">Save</button>
        <a asp-page="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}